#period {
  height: 7%;
  padding: 0;
  margin: 0;
}

#period li {
  flex: 1;
  color: black;
  background: lightgray;
  border: 1px solid black;
  border-radius: 12px;
  margin: 10px 10px 10px 10px;
  list-style-type: none;
  transition: all .3s ease;
}

#period li:hover {
  transform: scale(1.07);
}

.per-nav {
  text-decoration: none;
}

.per-nav:active, .per-nav:visited {
  color: inherit;
}

@media screen and (max-width: 500px) {
  #period li {
    font-size: 16px;
    padding: 4px;
  }
}