#weekly-weather {
  display: flex;
  flex-direction: column;
  height: 86%;
  background: gray;
}

#weekly-weather span {
  height: 15%;
}

#weekly-dow {
  height: 85%;
  background: lightgreen;
  display: flex;
  flex-direction: column;
}

#weekly-dow > * {
  background: lightgray;
  margin-bottom: 5px;
  flex: 1;
}