#weekly-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 83%;
  width: 100%;
}

#weekly-weather span {
  height: auto;
  align-self: center;
}

#weekly-weather span > * {
  margin: 0;
  padding: 5px;
}

#weekly-weather span h2 {
  font-size: 36px;
  text-decoration: underline;
}

#weekly-weather span p {
  font-size: 18px;
}

#weekly-dow {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#weekly-dow > * {
  background: lightblue;
  flex: 1 1;
  box-shadow: 5px 5px 5px lightgray;
}

@media screen and (max-width: 500px) {
  #weekly-weather {

  }

  #weekly-weather span {

  }

  #weekly-weather span h2 {
    font-size: 28px;
  }
  
  #weekly-dow {
  }

  #weekly-dow > * {

  }
}