#month {
  width: 50vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#month h1 {
  order: 1;
  flex: 1 100%;
}

#month span {
  order: 2;
  flex: 1 14%;
}