.text-r {
  text-align: right;
}

#current {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: lightblue;
  width: 33%;
  font-size: 24px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 10px 10px 30px gray;
  margin: 10px auto 0 auto;
}

#location {
  flex: 1 50%;
  order: 1;
  font-size: 36px;
  text-align: start;
}

#date {
  flex: 1 25%;
  order: 2;
}

#weather-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col2 {
  order: 3;
  flex: 1 50%;
}

#current img {
  width: 100%;
  height: auto;
}

#col1 {
  flex: 1 50%;
  order: 4;
  text-align: end;
  line-height: 42px;
}

#current-temperature {
  font-size: 70px;
  line-height: 90px;
}

#current-weather {

}

#current-feels-like {

}

#today-high-low {

}

@media screen and (max-width: 1080px) {
  #current {
    width: 50%;
  }

}

@media screen and (max-width: 600px) {
  #current {
    width: 75%;
    font-size: 18px;
    height: auto;
  }

  #location {
    font-size: 24px;
  }
}