.weekday {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px 10px;
  transition: all .3s ease-in-out;
  width: 50%;
  align-self: center;
}

.weekday:hover {
  transform: scale(1.02);
}

.weekday h3 {
  font-size: 28px;
  padding: 0;
  width: 25%;
  margin-left: 15px;
}

.wkdy-weather {
  font-size: 24px;
  margin-left: auto;
  margin-right: 5px;
}

.weekday img {
  height: 75px;
  width: auto;
}

@media screen and (max-width: 1366px) {
  .weekday {
    width: 75%;
  }
}

@media screen and (max-width: 750px) {
  .wkdy-summary {
    visibility: hidden;
  }
}

@media screen and (max-width: 500px) {
  .weekday {
    width: 90%;
  }

  .weekday img {
    height: 30px;
  }

  .weekday h3 {
    font-size: 22px;
    width: auto;
  }

  .wkdy-weather {
    font-size: 20px;
    margin-left: auto;
    margin-right: 5px;

  }
}